<div class="loaderContainer">
    <div class="loader">
    </div>
    <img src="./img/iconwhite.svg" alt="">
</div>
<header>
    <div class="container">
        <a href="#">
            <div class="imgContainer">
                <img src="./img/hrlogo.png" alt="logoGlobalFiber">
            </div>
        </a>
        <h2>USUARIOS CON SESIÓN</h2>
        <a id="exportXLS" href="./downloads/{{xlsName}}.xlsx" download>
            <span class="material-symbols-outlined">
                download
            </span>
            <h3><span>EXPORTAR</span> DATOS</h3>
        </a>
    </div>
</header>
<main>
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th style="width: 24%"> <span>NOMBRES Y APELLIDOS</span></th>
                    <th style="width: 6%">DNI</th>
                    <th style="width: 10%"><span>TELÉFONO</span></th>
                    <th style="width: 6%">GÉNERO</th>
                    <th style="width: 13%"><span>FECHA DE NACIMIENTO</span></th>
                    <th style="width: 31%">DIRECCIÓN / DISTRITO / PROVINCIA / DEPARTAMENTO</th>
                </tr>
            </thead>
            {{#if hayUsers}}
            <tbody>
                {{#each allUsers}}
                <tr>
                    <td>{{this.userName}}</td>
                    <td>{{this.userDni}}</td>
                    <td>{{this.userPhone}}</td>
                    <td>{{this.userGender}}</td>
                    <td>{{this.userDateOfBirth.day}}/{{this.userDateOfBirth.month}}/{{this.userDateOfBirth.year}}
                    </td>
                    <td>{{this.userAddress.address}}, {{this.userAddress.district}}, {{this.userAddress.state}},
                        {{this.userAddress.region}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
            {{/if}}
        </table>
    </div>
</main>
<script src="./js/loader.js"></script>