<div class="loaderContainer">
    <div class="loader">
    </div>
    <img src="./img/iconwhite.svg" alt="">
</div>
<header>
    <div class="container">
        <a href="#">
            <div class="imgContainer">
                <img src="./img/hrlogo.png" alt="logoGlobalFiber">
            </div>
        </a>
        <h2>USUARIOS CON SESIÓN</h2>
        {{#if hayCustomers}}
        <a id="exportXLS" href="./descargarregistro" download="">
            <span class="material-symbols-outlined">
                download
            </span>
            <h3><span>EXPORTAR</span> DATOS</h3>
        </a>
        {{else}}
        <a id="exportXLS" href="">
            <span class="material-symbols-outlined">
                download
            </span>
            <h3><span>EXPORTAR</span> DATOS</h3>
        </a>
        {{/if}}
    </div>
</header>
<main>
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th style="width: 24%"> <span>NOMBRES Y APELLIDOS</span></th>
                    <th style="width: 6%">DNI</th>
                    <th style="width: 10%"><span>TELÉFONO</span></th>
                    <th style="width: 6%">GÉNERO</th>
                    <th style="width: 13%"><span>FECHA DE NACIMIENTO</span></th>
                    <th style="width: 31%">DIRECCIÓN / DISTRITO / PROVINCIA / DEPARTAMENTO</th>
                </tr>
            </thead>
            {{#if hayCustomers}}
            <tbody>
                {{#each allCustomers}}
                <tr>
                    <td>{{this.customerName}}</td>
                    <td>{{this.customerDni}}</td>
                    <td>{{this.customerPhone}}</td>
                    <td>{{this.customerGender}}</td>
                    <td>{{this.customerDateOfBirth.day}}/{{this.customerDateOfBirth.month}}/{{this.customerDateOfBirth.year}}
                    </td>
                    <td>{{this.customerAddress.address}}, {{this.customerAddress.district}},
                        {{this.customerAddress.state}},
                        {{this.customerAddress.region}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
            {{/if}}
        </table>
    </div>
</main>
<script src="./js/loader.js"></script>